<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logincl</servlet-name>
    <servlet-class>cintral.logincl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>bookcl</servlet-name>
    <servlet-class>cintral.bookcl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>wordcl</servlet-name>
    <servlet-class>cintral.wordcl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>logincl</servlet-name>
    <url-pattern>/logincl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookcl</servlet-name>
    <url-pattern>/bookcl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wordcl</servlet-name>
    <url-pattern>/wordcl</url-pattern>
  </servlet-mapping>

</web-app>